* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Merriweather */
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;

  font-family: Merriweather;
  /* inter  */
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

section {
  margin: 3rem;
}

.banner-container {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Banner\ Image.png");
  width: 100%;
  height: 915px;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 16px;
  /* opacity: 0.8; */
  /* border-radius: 16px; */
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%); */
}

.banner-info {
  text-align: center;
  color: #fff;
}

.banner-sub-title {
  font-size: 32px;
  font-weight: 400;
  font-family: Merriweather;
}

.banner-title {
  font-size: 72px;
  font-family: Merriweather;
  font-weight: 900;
  line-height: 95px;
}

/* Off sales offer section  */

.off-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.off-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding: 1rem;
}

.off-info {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.off-categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.off-img {
  /* background: url("../img/New Year Photo.png"), lightgray 50% / cover no-repeat; */

  width: auto;
  height: 500px;
  padding: 2rem;
}

/* midnight section */

.mid-night-container {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../img/Vectorrr.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 915px;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 16px;
}

.mid-night-content {
  padding-right: 4rem;
}

.mid-night-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.mid-night-info {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
  margin: 5px;
}

.mid-night-button {
  color: #fff;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 3rem;
}

.mid-night-img {
  /* display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; */
}
.mid-night-img img {
  height: 660px;
}

/* address section start   */

/* .address-container {
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0) 100%
    );
    background-repeat: no-repeat;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center;
  }
  
  .address-content {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
  }
  
  .address-content span {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
  
    font-weight: 600;
    line-height: 56px;
    
  } */

.btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: 0;
  cursor: pointer;
  margin: 30px;
}

/* best offer end  */

.best-offer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-size: 100% 100%;
  background-position: center; */
}
.left-content {
  border: 2px solid #000;
}
.offer-content {
  /* width: 33%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.offer-sub-title {
  width: 75%;
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.offer-img-cicle {
  width: 350px;
  height: 350px;
  padding: 20px;
  border: 15px solid red;
  border-radius: 50%;
}

.offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  width: 75%;
  padding: 5px;
}

.offer-info {
  width: 75%;
  padding: 5px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
}

.offer-img {
  /* padding: 20px 340px 20px 0px; */
  align-items: ;
  width: 20%;
}

/* Portfolio Section  */

.portfolio-container {
  /* background-size: 100% 100%; */
  /* background-position: center; */
}

.portfolio-content {
  margin: 50px 0;
}

.portfolio-sub-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 17px 0;
}

.portfolio-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-item {
  /* width: -webkit-fill-available; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* padding: 10px; */
  /* font-size: 30px; */
  /* text-align: center; */
}

.grid-item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.grid-item img:hover {
  border-radius: 50%;
  transition: 1s ease;
  transform: scale(0.8);
  transition: 1s ease;
}

/* start subscribe section  */

.subscribe-container {
  margin-top: 5rem;
  background-color: rgba(255, 0, 0, 0.05);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-size: 70% 70%;
  background-position: center; */
  margin: 50px 100px;
  border-radius: 16px;
}

.subscribe-content {
  padding: 80px 0 80px 0;
  text-align: center;
}

.sub-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-top: 40px;
  padding-top: 22px;
}
.sub-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 75%;
  margin: 0 auto;
}
.sub-input {
  display: flex;
  justify-content: center;
  position: relative;
  width: 30%;
  margin: 48px auto;
}
.sub-input input {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
}

.sub-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #f00;
  border-radius: 0px 50px 50px 0px;
  padding: 15px 60px;
  border: none;
  cursor: pointer;
}

/* Footer section start */

.footer-container {
  background: #070211;
  width: 100%;
  height: 915px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.footer-info-left {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.footer-info-right {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.s {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
}

.contact-icon {
  width: 24px;
  height: 24px;
}

.contact {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-icon {
  width: 64px;
  height: 64px;
}
